@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #62bfed;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #508fe2;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0b63c1;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Poppins", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #ead4ed !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: transparent !important;
  border-radius: 5px;
  overflow: hidden;
  background: #508fe2 !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
  padding: 10px;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 15px !important;
  text-align: left !important;
}

/* .rbc-time-gutter.rbc-time-column .rbc-timeslot-group {

} */

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  min-height: 30px !important;
}

.rbc-event:nth-child(even) {
  background-color: #c2bbf0 !important;
  color: #1e1f2b !important;
    
}
.rbc-event:nth-child(odd) {
  background-color: #62bfed !important;
  color: #1e1f2b !important;
}

.rbc-event-label {
  color: #384054 !important;
  margin-bottom: 5px;
}

@media (max-width: 650px) {
  .rbc-time-content {
    padding: 0px;
  }
  .rbc-time-gutter.rbc-time-column {
    font-size: 10px !important;
  }

  .rbc-day-slot {
    font-size: 10px !important;
  }
}
